* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  background: #E5E5E5;
}

body::before {
  content: '';

  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  
  width: 100%;
  height: 436px;

  background: #535971;
}

.page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.div-header {
  width: 750px;
}

header {  
  margin-top: 125px;
  margin-bottom: 58px;
}

header h1, p {
  margin: 0;
  padding: 0;
  color: #FFFFFF;  
}

header h1 {
  font-family:'Staatliches', sans-serif;
  font-size: 48px;
  line-height: 60px;

}

header p {
  font-family: 'Poppins', sans-serif; 
  font-size: 20px; 

  width: 417px; 
  line-height: 30px; 
}

.form {
  max-width: 750px;
  width: 100%;
  padding: 64px;
  
  border-radius: 28px 28px 0 0;
  background: #FFF;
}

fieldset {
  border: none;
}

fieldset legend {
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  line-height: 34px;

  border-bottom: solid 1px #E6E6F0; 
  width: 100%;

  margin: 0;
  margin-bottom: 16px;  
  padding-bottom: 8px;
}

.package-group {
  margin-top: 36px;
  display: flex;
  gap: 22px;
}

label {
  font-family: 'Poppins', sans-serif;
}

.package-group input {
  width: 300px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #E6E6F0;

  background: #FAFAFC;
  margin-bottom: 16px;
}

.package-group label {
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.package-column input {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #E6E6F0;
  margin-bottom: 16px;

  background: #FAFAFC;
}

.package-column label {
  display: flex;
  
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
  align-items: center;
  gap: 9px;
}

span {  
  color: #C1BCCC;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 20px;
}

span:hover{
  color:#73707a;
}

.package-column {
  margin-top: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container #date {
  font-family: 'Poppins', sans-serif;
  width: 300px;
  height: 56px;
}

.container #begin, #end {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  width: 140px;
  height: 56px;
}

.container p {
  font-family: 'Staatliches', sans-serif;
  font-size: 20px;
  font-weight: 20px;
  line-height: 34px;
  color: #535971;
}

.first {
  display: flex;
  justify-content: space-between;
}

.first-right {
  display: flex;
  gap: 10px;
}

footer {
  width: 750px;
  height: 160px;
  background: #535971;
  margin-bottom: 50px;
  border-radius: 0 0 28px 28px;
  border: none;
}

footer .button {
  width: 600px;
  height: 55px;
  font-size: 20px;
  margin: 52px 71px;
  background: #FF5374;
  color: #FFF;
  border-radius: 28px;
  border: none;
}

footer .button:hover {
  width: 601px;
  height: 56px;
  font-size: 23px;
  background: #ef3258;
}

input:invalid{
  border: solid 1px #ef3258;
}